@import "variables";

//---------- MODAL ----------
@keyframes dialog-enter {
  from {
    transform: translate3d(0, -72px, 0);
  }
}

.dialog-enter-active {
  animation: dialog-enter $transition-duration both cubic-bezier(0.4, 0, 0, 1.5);
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
}

.modal-leave-active,
.modal-enter-active {
  transition: $transition-duration;
}


//---------- PAGE ----------
.page-leave-active,
.page-enter-active {
  transition: $transition-duration;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-enter {
  transform: translateY(-20px);
}

.page-leave-to {
  transform: translateY(20px);
}

//---------- LIST ----------
.list-enter-active, .list-leave-active {
  position: absolute;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: scaleY(0.5);
}

.list-move {
  transition: $transition-duration;
}
