$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$transition-duration: 0.3s;

$main-dark: #202124;
$default-bg: #2d2e30 url(https://www.transparenttextures.com/patterns/classy-fabric.png);
$bg-color: #2d2e30;
$border-color: #5f6368;
$dark-text: #9aa0a6;
$outline-color: #9aa0a6;
$main-text: #e8eaed;
$primary-color: #1285e2;
$accent-color: #1aaa55;
$danger-color: #DF6339;
