@import 'reset';
@import 'typography';
@import 'variables';

.page {
  &-enter-active,
  &-leave-active {
    transition: 0.35s;
    overflow: hidden;
  }

  &-leave-to {
    transform: translateX(3%);
    opacity: 0;
  }

  &-enter {
    transform: translateX(-3%);
    opacity: 0;
  }
}
